<div class="container">
    <p></p>
    <h1>เกี่ยวกับเรา</h1>
    <p>เว็บเช่ารถออนไลน์ มีเป้าหมายคือเพิ่มยอดขายให้แก่กลุ่มผู้ขายรายเล็ก เพื่อให้ลูกค้าเข้าถึงบริการได้</p>
    <p>เนื่องจากวิกฤตโควิดทำให้ผู้คนขายรายได้เป็นจำนวนมาก ดิฉันจึงอยากสร้างเว็บนี้เพื่อร้านเช่ารถรายย่อย</p>
    <p>สามารถเข้ามาใช้งานในฐานนะแอดมินและจัดการร้านของเขาได้ฟรี</p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved. Copyright & copy 2020</small>
</div>