<div class="container">
    <ul>
    </ul>
    <form>
        <input type="text" id="message" class="form-control">
        <button type="button" class="btn btn-primary btn-1">Send</button>
    </form>
</div>