<div class="container">
    <p></p>
    <h1>ติดต่อเรา</h1>
    <form action="/contact" method="POST">
        <div class="form-group">
            <label for="message">กรอกข้อความ</label>
            <textarea name="message" id="message"class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">ส่ง</button>
    </form>

</div>