<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <br><h3>My Google Maps Demo</h3><br>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>

     $(document).ready(
       // Initialize and add the map
        function initMap(){
        // The location of Uluru
        var PK = {lat: 8, lng: 98.33};
        // The map, centered at Uluru
        var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 10.2, center: PK});
        //load socket
        var socket = io();

        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('carId');

        console.log(myParam)
        //listen to allcars event to receive all cars
        socket.on('allcars', function(cars){
        
            console.log('AllCars',cars);
            //Loop thru Car Array
            for(var i=0; i<cars.cars.length; i++){
              console.log(cars.cars[i]);
              // The marker, positioned at Uluru
              function addMarker(){
                  var marker;

                  if (cars.cars[i]._id == myParam) {
                    marker = new google.maps.Marker({
                        position: {lat:cars.cars[i].coords.lat,
                                  lng:cars.cars[i].coords.lng },
                        map: map,
                        icon: { url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png' } 
                        });
                  } else {
                    marker = new google.maps.Marker({
                        position: {lat:cars.cars[i].coords.lat,
                                  lng:cars.cars[i].coords.lng },
                        map: map,
                        icon: { url: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' } 
                        });
                  }
                  //create info window for each car
                  var infoWindow = new google.maps.InfoWindow({
                    content:`<a href="/displayCar/${cars.cars[i]._id}"></a>
                    <p>โดย: ${ cars.cars[i].owner.firstname } ${ cars.cars[i].owner.lastname }
                    <p>ทะเบียน: ${cars.cars[i].carNo ? cars.cars[i].carNo : '-'} </p>
                    <p>ยี่ห้อ: ${cars.cars[i].make} </p>
                    <p>โมเดล: ${ cars.cars[i].model } </p>
                    <p>ปี: ${ cars.cars[i].year }</p>
                    <p>เครื่องยนต์: ${cars.cars[i].type} </p>
                    <img src="${cars.cars[i].picture}" width="100px">
                    <div>
                      <a class="btn btn-primary" href="/chatOwner/${cars.cars[i].owner._id}">Message</a>
                    </div>
                    `
                  });
                  marker.addListener('click',function(){
                    infoWindow.open(map,marker);
                  })
              }
              addMarker();
            }
        });
      })   
 
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFLURQE2YUo7n8OK58uaQNrvhZVqyqiFE&callback=initMap">// Kay ใหม่หรืออันเดิมดี ค่อยเปลี่ยนละกัน
    </script>
  </body>
</html>