<div class="row">
    <div class="col-sm"></div>

    <div class="col-sm-4">
        <form action="/listCar" method="POST">
        <p></p>
            <div class="form-group">
                <label for="make">Make</label>
                <input type="text" name="make" id="make" class="form-control">
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" name="model" id="model" class="form-control">
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="numbar" name="year" id="year" class="form-control">
            </div>

            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type" class="form-control">
                    <option value="110_cc">110 CC</option>
                    <option value="125_cc">125 CC</option>
                    <option value="150_cc">150 CC</option>
                    <option value="155_cc">155 CC</option>
                </select>
            </div>

            <div class="form-group">
                    <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
    <div class="col-sm"></div>

</div>