<div class="mt-4">
  <h4>ช่องทางการชำระเงิน</h4>
  <p>ธนาคาร : ไทยพาณิชย์</p>
  <p>เลขบัญชี : 120-224-3052</p>
  <p>ชื่อบัญชี : แอดมิน เช่ารถ</p>
  <p><b>เมื่อชำระเสร็จ ส่งหลักฐานการโอนเงินทาง Chat Admin</b></p>
  <a href="/chatAdmin" class="btn btn-primary">ติดต่อแอดมิน</a>
</div>