<div class="row text-center justify-content-center mt-3">
    <div style="display: flex; flex-direction: column; justify-content: center">
        <h3>บัญชีของคุณยังไม่ชำระเงิน</h3>
        <h5 class="mt-2"><b>หมายเหตุ :</b> ชำระเงิน 99 บาท สามารถใชังานได้ตลอดชีพ</h5>
        <form class="mt-2" id="myform" method="post" action="https://demo2.2c2p.com/2C2PFrontEnd/RedirectV3/payment">
            <input type="hidden" name="version" value="8.5"/>
            <input type="hidden" name="merchant_id" value="JT04"/>
            <input type="hidden" name="currency" value="764"/>
            <input type="hidden" name="result_url_1" value="{{urlOne}}"/>
            <input type="hidden" name="result_url_2" value="{{urlTwo}}"/>
            <input type="hidden" name="hash_value" value="{{hash}}"/>
            <input type="hidden" name="payment_description" value="One Time"/>
            <input type="hidden" name="order_id" value="{{orderID}}"/>
            <input type="hidden" name="amount" value="000000009900"/>
            <input type="submit" name="submit" class="btn btn-primary" value="ชำระเงินทันที"/>
        </form>
    </div>
</div>