<div class="container">
    <p></p>
    <h2 class="center">Welcome</h2>
    <h2 class="center">Motorcycle Rental Service</h2>
    <!--h2 class="center">
        <a href="/auth/facebook"class="btn btn-primary">Login With Facebook</a>
        class="btn btn-primary" ฟ้า
        class="btn btn-warning" เหลีอง
        class="btn btn-danger" แดง
    </h2-->
    <br>
     <h2 class="center">
        <a href="/auth/facebook"class="btn btn-primary">Login With Facebook</a>
    </h2>   
    <h5 class="center">
    <a href="/signup" class="btn btn-danger">Create new account</a>
    </h5>
    <h2 class="center">
        <a href="/displayLoginForm" class="btn btn-warning">Login With Email</a>
    </h2>
</div>
<style>
    body{
        background-image: url('/image/ทดสอบ1.png');
    }
</style>